@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}
body{
     font-family: 'Source Serif Pro', serif;     
}
html{
    font-size: 50%;
}
.heads{
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)) ,url('travel6.webp');
    /* border: 2px solid gray; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   margin-top: 0px;
   position: relative;
}
/* .listitems{
   
  text-align: center;
} */
.listitem{
 list-style: none;
  display: inline-block;
   margin-top: 0.5rem;
   padding: 1em;
}
a{
    text-decoration: none;
    color: #f4f4f4;
    text-transform: uppercase;
   
}
a:link,
a:visited{
    color: #f4f4f4;
}
a:hover
{
    border-bottom: 2px solid #f4f4f4;
    /* padding: 0.2em; */
}
 .logo{
    font-size: 2.5rem;
    font-weight: 900;
}
/* nav{
    position:fixed;
} */

 .navbar .logo{ 
    float: left;
   margin-top: 2.5rem;
}
 .navbar .listitems{
    float: right;
}
.navbar::after{
    content: "";
    clear: both;
    display: block;
}
li{
 font-size: 2rem;
 letter-spacing: 0.01em;
}
p{
    font-size: 1.5rem;
    color: #f4f4f4;
}
h1,h2,h3{

    font-weight: 500;
    color: #f4f4f4;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
}
.text-red{
    color:rgb(236, 18, 18)
}
.text-white{
    color: #f4f4f4;
}
.text-black{
    background-color: rgb(60, 58, 58);
    box-shadow: 5px 5px 20px 1px #aaaaaa;
}
 .header-explore{
/* border: 2px solid white; */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}
a.text-red
{
    color: rgb(240, 55, 55);
}
.btn{
    background-color: #f4f4f4;
    font-size: 2rem;
    border-radius: 15em;
    padding: 0.5em;
    margin-top: 1em ;
}
.heads-heading{
 font-weight: bold;
 font-size: 2rem;
 text-transform:uppercase ;
 letter-spacing: 0.1em;
 word-spacing: 0.5em;
}
.heads-para
{
  letter-spacing: 0.1em;
 word-spacing: 0.1em;  
 margin-top: 1em; 
}
 a.btn{
    margin-top: 0.5em;
    display: inline-block;
}
 a.btn:link,
 a.btn:visited{
    color: rgb(240, 55, 55);
    background-color: #f4f4f4;
}
 a.btn:hover,
 a.btn:active{
    color: rgb(240, 55, 55);
    background-color: #f4f4f4;
}
.sec{
    /* height: 100vh; */
    background-color: #dddddd;
    /* margin-bottom: 2em; */
}

.sec-div1{
    margin: 3em 10em;
    /* border: 2px solid red; */
    display: inline-block;
    height: 300px;
    width: 800px;
    box-shadow: 6px 6px 25px 1px #aaaa;
}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.sec-div1::after{
    content: "";
    display: block;
    clear: both;
}
.sec-div2{
    margin: 3em 10em;
    /* border: 2px solid red; */
    display: inline-block;
    height: 300px;
    width: 800px;
     box-shadow: 6px 6px 25px 1px #aaaa;
}
.sec-div2::after{
    content: "";
    display: block;
    clear: both;
}
 .sec-div1 .img-box , .sec-div2 .text-box{
    height: 100%;
    width: 50%;
    /* border: 2px solid #333333; */
    float: left;
}
.sec-div2 .img-box , .sec-div1 .text-box{
    height: 100%;
    width: 50%;
    /* border: 2px solid #333333; */
    float: right;
}
.sec-div1 .img-box{
    /* background: url('travel1.jpeg'); */
    background-position: center;
    object-fit: cover;
}
.sec-div2 .img-box{
    /* background: url('travel2.jpeg'); */
    background-position: center;
    object-fit: cover;
}

.sec-div2 .text-box{
    background-color: #f4f4f4;
}

.sec-div1 .text-box{
    background-color: #f4f4f4;
}
.large-heading
{
    color: #333;
    font-size: 3rem;
    word-spacing: 00.2em;
    letter-spacing: 00.1em;
    margin: 1em 0.7em;
}
.large-para
{
    color: #333;
    font-size: 1.5rem;
    margin: 0em 0.5em;
    word-spacing: 00.2em;
    letter-spacing: 00.1em;
    text-align: justify;
}

.sec-a{
    border-radius: 10rem;
    border: 2px solid rgb(245, 5, 5);
    text-transform: lowercase;
    display: inline-block;
    font-size: 2rem;
    margin: 1em 1em;
    padding: 0.5em;
}
.sec-a:hover{
 background-color: #f4f4f4;
 border-radius: 1em;
 border: 2px solid rgb(245, 5, 5);
}

.secII{
   box-shadow: 6px 6px 10px 1px #aaa;
   padding-bottom: 5em;
}
.box1{
    margin-top: 5em;
    height:250px;
    width: 28%;
    /* border: 2px solid red; */
    float: left;
    text-align: center;
    background-color: #333333;
   box-shadow: 6px 6px 25px 1px rgba(22, 22, 22, 0.3); 
}
.box2{
    height:250px;
    width: 28%;
    /* border: 2px solid red; */
    float: left;
     margin-top: 5em;
     text-align: center;
       background-color:#f12a4d;
       box-shadow: 6px 6px 25px 1px rgba(22, 22, 22, 0.3); 
}
.box3{
    height:250px;
    width: 28%;
    /* border: 2px solid red; */
    float: left;
     margin-top: 5em;
     text-align: center;
     background-color: rgb(49, 48, 48);
     box-shadow:6px 6px 25px 1px rgba(22, 22, 22, 0.3); 
}
.secII::after{
 content: "";
 display: block;
 clear: both;
}
.box1 h1 , .box2 h1 , .box3 h1 {
     font-size: 3rem;
    word-spacing: 00.2em;
    letter-spacing: 00.1em;
    margin: 0.3em 0.7em;
}

.box1 p , .box2 p ,.box3 p ,.foots p{
     font-size: 1.5rem;
    margin: 0em 0.5em;
    word-spacing: 00.2em;
    letter-spacing: 00.1em;
}
.fa-solid{
    margin-top: 00.5em;
}
.foots{
    /* height: 25vh; */
    background-color: rgb(49, 48, 48);
    box-shadow: 6px 6px 25px 1px rgb(17, 16, 16);
    text-align: center;
}
.fab{
    margin: 0.5em;
}
.abouth{
    border-bottom: 3px solid rgb(244, 35, 35);
}
.wrapper
{
    height: 200px;
    width:800px;
    /* border: 2px solid red; */
    margin: 1em 8em;
}
.wrapper::after{
    content: "";
    display: block;
    clear: both;
}
.aboutWI p::before,.aboutWII p::before{
    content: "\2713";
    color: #f12a4d;
    font-size: 2rem;
}
.aboutWI{
   width:50%;
   height: 100%;
   /* border: 2px solid greenyellow; */
   float: left;
   padding: 3em 3em;
}
.aboutWII{
   padding: 3em 3em;
   width:50%;
   height: 100%;
   /* border: 2px solid greenyellow; */
   float: left;
}

.wrapperI
{
    height: 120px;
    width:900px;
    /* border: 2px solid red; */
    margin: 1em 23em;
}
.countI{
   width:25%;
   height: 100%;
   /* border: 2px solid greenyellow; */
   float: left;
   padding: 3em 3em;
}
.countII{
   width:25%;
   height: 100%;
   /* border: 2px solid greenyellow; */
   float: left;
   padding: 3em 3em;
}
.countIII{
   width:25%;
   height: 100%;
   /* border: 2px solid greenyellow; */
   float: left;
   padding: 3em 3em;
}
.countIV{
   width:25%;
   height: 100%;
   /* border: 2px solid greenyellow; */
   float: left;
   padding: 3em 3em;
}
.wrapperI h1{
    letter-spacing: 0.2rem;
    font-size: 3rem;
    font-weight: bold;
   text-align: center;
   margin: 0.2em 1em;
}
.wrapperI p{
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.border{
height: 80px;
 width:900px;
    /* border: 2px solid red; */
 background-color: #f12a4d;
 box-shadow: 5px 5px 20px 1px #aaa;
 position: relative;
 margin-left: 23em;
 box-shadow: 3px 3px 10px 0px gray;
}
.border p{
    float: left;
    font-size: 1.5em;
    margin: 2em 1em;
}
.border a{
display:block;
position: absolute;
 font-size: 3em;
 border: 3px solid white;
 float: right;
 margin-left: 23em;
 margin-top: 0.7em;
 box-shadow: 3px 3px 10px 0px gray;
}
.border::after{
    content: "";
    display: block;
    clear: both;
}
/* ############################ Contact page */
.contactsec{
    background-color: #f4f4f4;
    /* height: 90vh; */
}
.contactwrap{
    height:500px;
    width: 1100px;
    /* border: 2px solid red; */
}
.contactsec p{
 font-size: 2rem;
 color: #787676;
}
.contactsec h1{
    display: inline-block;
 font-size: 2.3rem;
 color: #333333;
 margin-left: 0.3em;
}
.contactwrap .fa-solid{
    display: inline-block;
}
 .contactwrap .contactimg img{
    width: 98%;
    height:450px;
    object-fit: cover;
    background-position: center;
     /* box-shadow: 5px 5px 20px 1px #aaa; */
}

.contactsecI{
    background-color: #fff;
    width:48%;
    margin-top:4em;
    float:left;
    box-shadow: 5px 5px 20px 1px #aaa;
    padding-left: 1.2em;
}
.contactsecII{
    background-color: #fff;
    width:48%;
    margin-top:4em;
    /* border: 2px solid greenyellow; */
    float: right;
     box-shadow: 5px 5px 20px 1px #aaa;
}
.contactsecII h1{
    border-bottom:2px solid #f12a4d ;
    width: 98%;
}
.contactsecII p{
 font-size: 1.6rem;
  margin: 0.5em 0.5em;
}
label{
    display: block;
    font-size: 2rem;
    margin: 0.5em 0.5em;
}
input{
    display: block;
    width: 95%;
    margin: 0.5em 0.5em;
    height: 35px;
}
textarea{
    margin: 0.5em 0.5em; 
}
.submit{
    background-color: #f12a4d;
    color: #fff;
    width: 35%;
    text-align: center;
    margin: auto;
    border: 2px solid white;
    box-shadow: 5px 5px 20px 1px #aaa;
    margin-bottom: 00.5em;
}

label::after{
    content: "*";
    color: #f12a4d;
    font-weight: bold;
}

/* ##################### rsponsive */
@media(max-width:500px) {

html{
font-size: 50%;
width: 100%;
}
.navbar .logo , .navbar ul{
    float:none;
    display: block;
    text-align: center;
    width:100%
}
.header-explore h1, .header-explore p{
    width: 100%;
    height: auto; 
}
.row .sec-div1, .row .sec-div2{
    width:100%;
    float:none;
    height: auto;
}
.row .img-box ,.row .text-box{
    width: 100%;
    float: none;
    text-align: center;
    height: auto;
}
.text-box{
     width: 100%;
    float: none;
    text-align: center;
}

.secII .box1, .secII .box2 ,.secII .box3{
    height: auto;
    width: 100%;
    text-align: center;
    float:none;
}
.row{
    height: auto;
    width: 100%;
    margin: 0px 0px;
}

.foots{
    width: 100%;
    height: auto;
    text-align: center;
    margin:0px 0px;
}
 .contactwrap .contactsecI , .contactwrap .contactsecII{
    width: 100%;
    text-align: center;
    float: none;
 }

}

